{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Create Album</h2>

    <form action="" method="post">

        {{ formset.management_form }}
        {% csrf_token %}

        <p>Artist:</p>
        <table>
        {% crispy form   %}
        </table>

        <p>Album:</p>
        <table>
        {% for form in formset %}
            {% crispy form %}
        {% endfor %}
        </table>

        <hr />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

    {# <pre>{% debug %}</pre>#}
{% endblock %}
