{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>APP2: Create Album</h2>

    <form method="post" action="" class="form-horizontal">

      <h3>Author Form:</h3>
       {{ formset.management_form }}

       {% crispy form   %}

       <hr />
       <h3>Albuns Forms:</h3>
       <ul class="nav nav-tabs nav-justified">
       {% for f in formset %}
          <li class="{{ forloop.first|yesno:'active,'}}"><a data-toggle="tab" href="#tab{{forloop.counter}}">Tab {{forloop.counter}}</a>
          </li>
       {% endfor %}
      </ul>
      <div class="tab-content">
      {% for f in formset %}
          <div id="tab{{forloop.counter}}" class="tab-pane fade{{ forloop.first|yesno:' in active,'}}">
          {% crispy f f.helper %}
          </div>
       {% endfor %}
     </div>
     <hr />
     <button type="submit" class="btn btn-primary">Save</button>
     {% if form.first_name.value|length > 0 %}<button type="submit" name="add_form" class="btn btn-default">Add form...</button>{% endif %}

   </form>

{% endblock %}
